
  .carousel {
 // position: relative;
   }

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 15%;
  left: 8%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: $white;
  text-align: left;
  align-content: left;
  width:25%;
  }

