@import "colors";

//== Viewports

$extra-small: 476px;
$small: 576px;
$medium: 768px;
$normal: 1024px;
$large: 992px;
$extra-large: 1200px;


//== Sidebar

$sidebar-width: 210px;
$sidebar-font-color: $gray-08;
$sidebar-font-color-active: $dark-grey;
$sidebar-background-color-active: $blue-white;
$sidebar-background-color-hover: $blue-white;
$sidebar-icon-color-active: $blue;
$sidebar-icon-color: $gray-06;
$sidebar-title-color: $sidebar-font-color;
$sidebar-circle-color: $light-grey;

//== Header

$header-background-color: $red;
$header-height: 54px;
$header-logo-height: 74px;
$header-button-background-color: $red;
$header-button-background-color-hover: $black-08;
$header-button-font-color: $white;
$header-title-font-color: $white;

//==Whats Going On Section
$section-background-color: $grey;
$section-content-background-color:$red;
$section-content-color:$white;
$section-heading-color:$dark-grey;

